body {
    background: #ccc;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    background: #fff;
    border: 5px solid #999;   
}
#alertBlock{
    color: red;
}
#messageBlock{
    color: darkorange;
}
#infoCurrency,
#infoDate {
  font-size: 12px;
  font-family: arial;
}
#infoPopup {
        display: none;
}
#infoPopup rect {
    x: -16;
    y: -10;
    width: 200px;
    height: 67px;
    fill: white;
    stroke: red;
    font-size: 15px;
    rx: 0px;
    z-index: 99999;
}
.infoPopupDate {
    transform: translateY(10px);
}
.infoPopupMaxMin,
.infoPopupRate {
    transform: translateY(30px);
}
.infoPopupAmpl {
    transform: translateY(50px);
}